.content{
    border: none;

}

details > summary{
    
    display: block;
color: rgba(109, 172, 234, 1);

}

.btn--1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    background-color: #F18889;
    border: 1px dashed #FFFFFF;
    outline: 3px solid #F18889;
    border-radius: 29px;
    width: 150px;
height: 54px;
color: #FFFFFF;
}


.img-box--2{
    border: 2px dashed rgb(205,204,204);
    box-sizing: border-box;

}

.img-box--2 img{
 width: 100%;
    /* height: 250px; */
    border: transparent;
    background-color: rgb(234,231,231);
}