.main-page-contact{
    background-color: white;
}

.main-page-contact h4{
    color: rgba(142, 164, 188, 1);
    font-size: 28px;
}

.contact-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-btn{
  
    margin-top: 50px;
    background-color: #F18889;
    border: 1px dashed #FFFFFF;
    outline: 3px solid #F18889;
    border-radius: 29px;
    width: 150px;
height: 54px;
color: #FFFFFF;
}

.main-contact-btn{
  display: flex;
    justify-content: end;
    
}

.contact-txt{
    border: 1px dashed #80ABBE;

  background-color: rgb(237,246,250);
  padding: 8px;
}
.main-page-p{
    font-weight: 400;
font-size: 24px;
line-height: 35px;
/* or 146% */


color: #868686;
}
.contact-txt h4{
    font-weight: 400;
font-size: 28px;
line-height: 40px;
/* or 154% */


color: #8EA4BC;
}

.contact-txt p{
    font-weight: 400;
font-size: 24px;
line-height: 35px;
/* or 146% */


color: #868686;
}

.contact-txt--2{
    border: 1px dashed #80ABBE;
    margin-top: 30px;
    background-color: rgba(245, 248, 233, 1);
    padding: 8px;
}

.contact-txt--2 p{
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    /* or 146% */
    
    
    color: #868686;
}

.contact-txt--2 h4{
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    /* or 154% */
    
    
    color: #8EA4BC;
}

.contact-inputs input{
    
background: #F7F7F7;
border-radius: 5px;
height: 54px;
border: 1px dashed #B7B5B5;
padding: 14px;
}

.contact-inputs textarea{
    border: 1px dashed #B7B5B5;
    border-radius: 5px;
    height: 226px;
    background: #F7F7F7;
    padding: 14px;
}

@media only screen and (max-width:767px){
    .contact-btn{
        margin-bottom: 50px;
       
    }
    .main-contact-btn{
        display: flex;
    justify-content: center;
    }
}